{%extends "layout.html"%}

{%block style%}
#pesquisa{
  width:130vh;
  position:absolute;
  top:10%;
  left:50%;
  transform:TranslateX(-50%);

}

#pesquisa input{
  width:60%;
  margin:50px;
  text-align:center;
}

#texto{
  position:absolute;
  top:35%;
  text-align=center;
}

#links{
  position:absolute;
  top:45%;
  text-align=center;
  width:90vw;
}

.alert-primary{
  width:30%;
}

#erro{
  position:relative;
  top:58vh;
  left:30vh;


}
{%endblock%}

{%block nav%}
  {%if u == None%}
    <a id='login'    href="{{url_for('login')}}">     Login     </a>
    <a id='registro' href="{{url_for('registro')}}">  Registro  </a>
  {%else%}
    <a id='logout' href="{{url_for('logout')}}">logout</a>
  {%endif%}
{%endblock%}

{%block body%}

<div id='pesquisa'>
  <form action="{{url_for('home')}}" method='post'>
    <input type='text' name = 'input' placeholder='Pesquisar'></input>
    por
    <select name = 'tipo'>
      <option value='autor'>Autor</option>
      <option value='livro'>Livro</option>
      <option value='ano'>Ano</option>
      <option value='isbn'>ISBN</option>
    </select>
    <button type='submit' class='btn btn-success'>Pesquisar<button>
  </form>
</div>

<div id='texto'>
  <h2>Olá user, veja os resultados da sua pesquisa:<h2>
</div>
<div id='links'>
{%for isbn, book, author, year in bk:%}
<div class="alert alert-primary" role="alert">
   <a href='/{{book}}'> {{book}}, {{author}}, {{year}}, {{isbn}} </a>
 </div>
{%endfor%}
</div>
<h3 id='erro'>{{erro}}</h3>

{%endblock%}
