<!DOCTYPE html>

<html>
<head>
  <title>Login</title>
  <style>

    body{
      min-height:100vh;
      background-image: url('../Imagens/login.jpg');
    }
    .forma{
      min-height: 100vh;
      position: relative;
    }
    form{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-49%)
    }
    input{
      margin:4px;
    }
    #but {
      border-color: white;
      display: inline-block;
      position: absolute;
      left:35%
    }

  </style>
</head>
<body>
  <div class="forma">
  <form >
    <input type='text' placeholder='username' name='username'><br/>
    <input type='password' placeholder='password' name='password'><br/>
    <button id='but'>Login</button>
  </form>
</div>
</body>
</html>
