{%extends "layout.html"%}


{%block style%}

  #Sucesso{
  position:absolute;
  left:50%;
  top:50%;
  transform:translateX(-50%);
  font-family:arial;
  font-size:20pt;
  width:30%;
  color:Black
}
{%endblock%}
{%block nav%}
  {%if u == None%}
    <a id='login'    href="{{url_for('login')}}">     Login     </a>
    <a id='registro' href="{{url_for('registro')}}">  Registro  </a>
  {%else%}
    <a id='logout' href="{{url_for('logout')}}">logout</a>
  {%endif%}
{%endblock%}

{%block body%}
<h1 id='Sucesso'>Sucesso!!</h1>
{%endblock%}
